spring:
  application:
    name: kosi-safety-training-vt

  profiles:
    active: dev



  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect